In [2]:
# import library
import pandas as pd

# konversi dataset mejadi ataframe
df = pd.read_csv('diabetes.csv')

In [3]:
# menampilkan 5 baris teratas pada dataframe
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [4]:
# mengecek nilai hilang pada dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [7]:
# Memisahkan atribut dan label pada dataset
# memisahkan atribut pada dataset dan menyimpannya pada sebuah variabel
X = df[df.columns[:8]]

# memisahkan label pada dataset dan menyimpannya pada variabel y
y = df['Outcome']

In [8]:
# Standardisasi dengan fungsi StandardScaler() dari SKLearn

# import library
from sklearn.preprocessing import StandardScaler

# standardisasi nilai-nilai dari dataset
scaler = StandardScaler()
scaler.fit(X)
X = scaler.transform(X)

In [9]:
# Memisahkan dataset menjadi trainset dan test set

# import library
from sklearn.model_selection import train_test_split

# memisahkan dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.33, random_state=42)

In [10]:
# Membuat SVM dalam variabel clf
from sklearn.svm import SVC
clf = SVC()
# memanggil fungsi fit untuk melatih model
clf.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [11]:
# Menampilkan skor akurasi prediksi
clf.score(X_test, y_test)

0.7559055118110236