In [1]:
# import library os untuk mengakses direktori 'sample_data' dalam menyimpan berkas yang dipakai
import os
os.listdir('sample_data')

['anscombe.json',
 'README.md',
 'mnist_test.csv',
 'california_housing_train.csv',
 'mnist_train_small.csv',
 'california_housing_test.csv']

In [2]:
# import library pandas dengan memberikan alias pandas sebagai pd
import pandas as pd

In [3]:
# Konversi berkas 'california_housing_train.csv' menjadi dataframe dengan fungsi read_csv()
# Kemudian menyimpannya dalam variabel df

df = pd.read_csv('sample_data/california_housing_train.csv')

In [4]:
# Menampilkan 5 baris teratas dalam dataframe df

df.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]